//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: $lgrey;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
  width: 100%;
}

.graph-section {
  background-color: white;
  padding: 40px 50px;
  margin: 10vh 0;
  height: 80vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  }


.xaxis {
  width: 100%;
  max-width: 780px;
  margin: 0 auto;

  span {
    width: 24%;
    display: inline-block;
    font-weight: 500;
  }
}


//===============================================================================
// D3 Graph
//===============================================================================
text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.tick line {
  stroke: $ink;
  opacity: 0.2;
}

.tick text {
  font-size: 14px;
  font-weight: 300;
}

.line {
  fill: none;
  stroke-width: 1.5px;
}

.label {
  text-anchor: middle;
}

.label rect {
  fill: white;
}

.label-key {
  font-weight: bold;
}



.legend {
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.pointer { cursor: pointer; }

















