//===============================================================================
// BASICS
//===============================================================================
// box-sizing everywhere and webkit text rendering correction
*,
*::before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

// remove padding & list styles from all <ul> as default
ul {
  padding: 0;
  list-style: none;
}


body {
  background-color: white;
  text-align: center;
}



//===============================================================================
// Graph
//===============================================================================

.graph-content {
  width: 500px;
  height: 500px;
  display: block;
}

//===============================================================================
// D3 Graph
//===============================================================================
// text {
//   font: 10px sans-serif;
// }

// .axis path,
// .axis line {
//   fill: none;
//   stroke: #000;
//   shape-rendering: crispEdges;
// }

// .line {
//   fill: none;
//   stroke-width: 1.5px;
// }

// .label {
//   text-anchor: middle;
// }

// .label rect {
//   fill: white;
// }

// .label-key {
//   font-weight: bold;
// }




// .xaxis {
// 	width: 500px;
// 	margin: 0 auto;
	
// 	span {
// 		width: 24%;
// 		display: inline-block;
// 	}
// }
