
//===============================================================================
// VARIABLES
//===============================================================================
$lgrey: #E7E7F1;
$grey: #CACCD9;
$midgrey: #555570;
$ink: #000030;
$purple: #7700FF;
$blue: #3100EC;


$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





